.App {
  text-align: center;
  height: 100%;
}

.navbar {
  background-color: black;
  height: 75px;
  font-family: 'Lobster Two', cursive;
}

.App-name {
  font-size: 28px;
  margin-left: 10px;
}

.navButtons {
  text-align: right;
}

.navbar-left {
  font-size: 30px;
  margin: -12px 0 0 0;
  color: #ff5722;
  height: 65px;
}

ul {
  list-style-type: none;
  margin: -15px 0 0 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

li a:hover {
  background-color: #ddd;
  color: black;
}